* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    text-rendering: optimizeLegibility;
}
body {
    /* overflow-x: hidden; */
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.main {
    margin: 0px 5% 50px 5%;
}
.clear {
    clear: both;
}
h1 {
    color: white;
    font-size: 300%;
    font-weight: 500;
    line-height: 70px;
}
h2 {
    color: orange;
    font-size: 180%;
    letter-spacing: 1px;
    padding-top: 30px;
    text-transform:uppercase;
    text-align: center;
}
h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: orange;
    margin: 0px auto;
}
.button {
    display: inline-block;
    width: 170px;
    height: 50px;
    background-color: orange;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    color: white;
}
.col {
    float: left;
    text-align: center;
}

/*-------------Heading-------------*/

header {
    background: linear-gradient(130deg,rgba(0, 190, 63, 0.815),rgba(53, 53, 255, 0.884)), url("./image/bacground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
header .logo {
    width: 300px;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;  
    margin-left: 5%;
}
header .menu {
    float: right;
    margin-right: 5%;
}
header .menu li {
    display: block;
    float: left;
    margin-left: 30px;
    margin-top: 80px;
    font-size: 130%;
}
header .menu li a {
    color: white;
    padding-bottom: 8px;
    transition: 0.5s;
}
header .menu li a:hover {
    border-bottom: 2px solid white;
}
.heading-main {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 20%;
}
.heading-main .button {
    margin-left: 20px;
    margin-top: 30px;
}
.heading-main .button:hover {
    background-color: rgb(0, 255, 179);
}

/*----------sticky-----------*/

.sticky {
    background-color: rgb(0, 0, 255); 
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10;
}
.sticky .logo {
    margin-top: 0px;
    width: 200px;
    margin-bottom: 0px;
    margin-left: 50px;
}
.sticky .menu li {
    margin-top: 30px;
    font-size: 100%;
}

/*----------Abount Us-----------*/

.abount-section {
    margin-top: 20px;
}
.abount-section p {
    margin: 40px 15% 0px 15%;
    color: rgb(0, 0, 136);
    font-size: 120%;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
}
.abount-images {
    margin-top: 80px;
    height: 260px;
}
.abount-images li {
    width: 25%;
}
.abount-images li img {
    width: 200px;
    border-radius: 20px;
    border: 2px solid rgb(121, 188, 250);
    box-shadow: 0px 5px 15px 2px rgb(58, 69, 88);
    transition: .5s;
}
.abount-images li figure {
    position: relative;
}
.abount-images li figcaption {   
    display: block;
    position: absolute;
    top: 60%;
    left: 30%;
    color: white;
    opacity: 0%;
    transition: .5s;
}
.abount-images li figure:hover img{
    filter: blur(1px) brightness(60%);
}
.abount-images li figure:hover figcaption {
    opacity: 100%;
    top: 40%;
}

/*--------------products----------------*/

.products-section {
    background-color: rgb(243, 243, 243);
    height: 580px;
}
.products-section .main>ul {
    margin-top: 80px;
}
.products-section .col {
    width: 33.33333%;
}
.products-section .col .products-box {
    width: 300px;
    background-color: rgb(225, 245, 255);
    border-radius: 10px 10px 0px 0px;
    margin: 0px auto;
}
.products-section .products-box h3 {
    display: block;
    background-color: rgb(38, 82, 148);
    height: 50px;
    line-height: 60px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 100%;
    letter-spacing: 1px;
}
.products-section .products-box p {
    font-size: 180%;
    color: rgb(38, 82, 148);
    font-weight: 300;
    margin: 20px 0px 20px 0px;
}
.products-section .products-box p span{
    font-size: 80%;
}
.products-section .products-box ul {
    text-align: left;
    margin-left: 20%;
}
.products-section .products-box ul i {
    color: rgb(38, 82, 148);
    margin-right: 10px;
}
.products-section .products-box li {
    font-size: 90%;
    line-height: 30px;
}
.products-section .products-box .button {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*----------testimonials---------*/

.testimonials-section {
    background: linear-gradient(130deg,rgba(0, 190, 63, 0.815),rgba(53, 53, 255, 0.884)),url("./image/logo2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
}
.testimonials-section ul {
    margin-top: 100px;
}
.testimonials-section li {
    width: 33%;
    text-align: left;
}
.testimonials-section li .blockquote {
    margin: 0px 30px 0px 30px;
    color: white;
    font-style: italic;
    font-size: 110%;
}
.testimonials-section li p {
    margin-bottom: 10px;
    position: relative;
}
.testimonials-section li p::before {
    content: "\201C";
    display: block;
    font-size: 80px;
    position: absolute;
    top: -50px;
    left: -10px;
}
.testimonials-section li .cite img {
    width: 80px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.testimonials-section li .cite span {
    height: 60px;
    display: block;
    line-height: 60px;
    color: rgb(218, 218, 218);
}

/*-----------sponsors-------------*/

.sponsors-section {
    height: 800px;
}
.sponsors-section .main {
    padding-top: 30px;
}
.sponsors-section ul {
    margin: 100px 100px 0px 100px;
}
.sponsors-section li {
    width: 33.333333%;
    margin-bottom: 50px;
}
.sponsors-section figure img {
    width: 150px;
    transition: .3s;
    cursor: pointer;
}
.sponsors-section figure img:hover {
    transform: scale(1.2);
}
.sponsors-section figcaption {
    color: rgb(38, 82, 148);
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
}

/*-----------contact------------*/

.contact-section {  
    height: 600px;
    background: linear-gradient(130deg,rgba(0, 190, 63, 0.815),rgba(53, 53, 255, 0.884)), url("./image/image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.contact-section .main {
    padding-top: 120px;
}
.contact-section .information {
    margin-left: 50px;
}
.contact-section .information li {
    line-height: 30px;
}
.contact-section .information li i {
    margin-right: 10px;
    color: rgb(10, 10, 133);
}
.contact-section .browser-icon {
    color: white;
    font-size: 180%;
    margin-left: 50px;
    margin-top: 40px;
}
.contact-section .browser-icon li {
    float: left;
    margin-left: 30px;
}

form {
    position: absolute;
    top: 70px;
    left: 60%;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.466);
    height: 420px;
}
form ul {
    margin-left: 40px;
    margin-top: 30px;
}
form li:nth-child(1) {
    float: left;
    width: 120px;
    color: white;
    font-size: 130%;
}
form input ,form textarea{
    width: 200px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.445);
    outline: none;
    border: 2px solid rgba(3, 10, 49, 0.363);
    padding: 10px;
    font-size: 80%;
    color: white;
}
form textarea {
    height: 40px;
    resize: none;
}
form .button {
    margin-top: 40px;
    margin-left: 98px;
    width: 200px;
    border-radius: 10px;  
    line-height: 50px;
    padding: 0px; 
}
/*-------footer---------*/

footer {
    background-color: rgb(121, 121, 121);
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
